# don't push out -i
-i

*.save
.DS_Store
.DS_Store?
._*
.Spotlight-V100
#
# these files are all created by the build process; none are in the repository
#
*.o
*.a
*.dSYM
.build
.made

config.h
config.status
config.cache
config.log

autom4te.cache

bash
bashbug
bashversion

Makefile
builtins/Makefile
builtins/builtext.h
builtins/builtins.c
builtins/mkbuiltins
builtins/pipesize.h
builtins/psize.aux

doc/Makefile
examples/loadables/Makefile
examples/loadables/Makefile.inc
examples/loadables/perl/Makefile
lib/glob/Makefile
lib/intl/Makefile
lib/malloc/Makefile
lib/readline/Makefile
lib/sh/Makefile
lib/termcap/Makefile
lib/tilde/Makefile
support/Makefile

lib/intl/charset.alias
lib/intl/libgnuintl.h
lib/intl/libintl.h
lib/intl/ref-add.sed
lib/intl/ref-del.sed

po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-po

support/bash.pc
support/man2html
support/bashbug.sh

lsignames.h
pathnames.h
signames.h
version.h
syntax.c
stamp-h

mksignames
mksyntax

printenv
recho
xcase
zecho
tests/printenv
tests/recho
tests/xcase
tests/zecho

examples/loadables/accept
examples/loadables/basename
examples/loadables/csv
examples/loadables/cut
examples/loadables/dirname
examples/loadables/fdflags
examples/loadables/finfo
examples/loadables/head
examples/loadables/id
examples/loadables/ln
examples/loadables/logname
examples/loadables/mkdir
examples/loadables/mkfifo
examples/loadables/mktemp
examples/loadables/mypid
examples/loadables/pathchk
examples/loadables/print
examples/loadables/push
examples/loadables/realpath
examples/loadables/rm
examples/loadables/rmdir
examples/loadables/seq
examples/loadables/setpgid
examples/loadables/sleep
examples/loadables/strftime
examples/loadables/sync
examples/loadables/tee
examples/loadables/truefalse
examples/loadables/tty
examples/loadables/uname
examples/loadables/unlink
examples/loadables/whoami
